body{ 
	background-image: url("../images/background.jpg");
    background-size: 100%;
}

.container {
	width: 60%;
	margin-top: 70px;
	border: 4px solid #5e0118;
	background-color: #e7d144;
}

h1{ 
	text-align:center;
	color: #ce3c4a;
	font-size: 60px;
	font-family: 'Anton', sans-serif;
}
#start{
	margin-top: 150px;
	margin-bottom: 100px;
	width: 200px;
	height: 60px;
	background-color: #5e0118;
	border: 2px solid #5e0118;
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
}

.game-area {
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 50px;
}

#timer-count {
	font-family: 'Josefin Sans', sans-serif;
}

h2{
	font-size: 35px;
}

h3 {
	font-family: 'Josefin Sans', sans-serif;
}

.answer-button {
	display: block;
	width: 300px;
	height: 50px;
	margin: 0 auto;
  	border:none;
  	background:transparent;
  	font-size: 28px;
}
.answer-button:hover {
  border:2px solid #5e0118;
  background: #ce3c4a;
}
#start-over {
	width: 200px;
	height: 60px;
	background-color: #5e0118;
	border: 2px solid #5e0118;
	font-size: 30px;
	font-family: 'Anton', sans-serif;
	color: #ffffff;
	letter-spacing: 2px;
}